a.spoiler:after{
    content: "[-]";
}
a.spoiler.collapsed:after{
    content: "[+]";
}
.nav-tabs {
    margin-top: 15px;
}
.breadcrumb > li + li:before{
    content: "\f105";
    font-family: 'FontAwesome';
}
@media screen and (max-width:767px){
    .massonry[data-columns]::before{
        content: '1 .col-xs-12'
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .massonry[data-columns]::before{
        content: '2 .col-xs-6'
    }
}
@media screen and (min-width:992px) and (max-width:1199px){
     .massonry[data-columns]::before{
        content: '3 .col-xs-4'
    }
}
@media screen and (min-width:1200px){
     .massonry[data-columns]::before{
        content: '3 .col-xs-4'
    }
}
#reg_log{
    float: right;
}
#search_get{
    border-radius: 9px;
}
.search_position{
    float: right;
    margin-right: 30%;
}
.main_block{
    height: 50%;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 4px;
    background: #fafafa;
}
/*Стили для регистрации*/
