{% load staticfiles %}
<! DOCTYPE html>
<html lang="ru">
<head>
    <title>Catch Link</title>
    <meta charset="utf-8">
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap-theme.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js'%}" defer></script>
    <script src="{% static 'js/bootstrap-js/bootstrap.js'%}" defer></script>
    <script src="{% static 'js/bootstrap-js/bootstrap.bundle.min.js'%}" defer></script>
</head>

<body>
 <div class="container">
<div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                                        <span class="sr-only">Навигация сайта</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}" title="На главную!">Catch-Link</a>
            </div>
            <div class="collapse  navbar-collapse" id="responsive-menu">
                <ul class="nav navbar-nav">
                    <li><a href="#">Музыка<i class="fa fa-music"></i></a></li>
                    <li><a href="#">Чат<i class="fa fa-comments-o"></i> </a></li>
                    <li><a href="#">Видео<i class="fa fa-film"></i></a></li>
                </ul>
                <ul class="nav navbar-nav" class="search_position">
                    <li>
                        <form action="" class="navbar-form navbar-right">
                            <div class="input-group">
									<span class="input-group-addon"><i class="fa fa-search fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="Поиск"/>
								</div>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar">
                    <li><a href="{% url 'feedback' %}">Написать нам!</a></li>
                        {% if user.is_superuser %}
                    <li><a href="{% url 'vfeedback' %}">Просмотреть Отзыввы</a></li>
                        {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right" >
                    <li><a href="{% url 'login' %}">Вход</a></li>
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% block body %}
{% endblock %}
</body>
</html>
