{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container">
    <div style="border: 1px solid silver; "><div class="container">  <h1>{{ user.username }}</h1>
    <div class="container-fluid">
        Имя пользователя: {{ user.username }}<br>
        Email: {{ user.email }}
    </div>
    </div>
  </div>
</div>
{% endblock %}
